.map {
    position: relative;
}



.map img,.map svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: auto;
}

map svg {
    z-index: 10;
}


svg .Dot {
    r:4.5;
    fill:red;
    color:"red"
}