.map {
    position: relative;
}

.map img,.map svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: auto;
}

.map img {
    z-index: auto;
}

.PostForm {
    position: sticky;
    top: 3rem;
    left: 70vw;
    right: 1rem;
    border-radius: 25px;
    padding: 1rem;
    width: 30rem;
    height: auto;
    z-index: 4;
    border: 1px solid gray;
    background-color: lightgrey;
}

#root {
  margin: 0px;
  padding: 0px;
  min-height: 5083px;
  width: 100vw;
}

svg path {
    z-index: 1;
}

.map .photos {
    position:absolute;
    z-index: 1;
    height: 200px;
    width: auto;
    border: 2px solid grey;
}



svg .Dot {
    r:4.5;
    fill:red;
    color:"red";
    transform: translate(-36px,-20px);
    z-index: 2;

}

.map svg foreignObject {
    overflow: visible;
}