.title {
  text-align: center;
  font-weight: bold;
  margin: 20px;
}

.formContainer {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  padding: 10px;
  margin: 3px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.input:focus {
  outline: none;
  border-color: #6eaa85;
  box-shadow: 0 0 0 3px rgba(141, 177, 232, 0.449);
}

.submitButton {
  padding: 15px;
  background-color: #00471b;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #003716;
}

.switchButton {
  padding: 10px;
  background-color: #008842;
  border-radius: 4px;
  border: none;
  color: rgb(230, 230, 230);
  cursor: pointer;
  margin-top: 15px;
}

.switchButton:hover {
  background-color: #017c3e;
}
