.title {
  text-align: center;
  font-weight: bold;
  margin: 20px;
}

.formContainer {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  padding: 10px;
  margin: 3px;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 16px;
}

.input:focus {
  outline: none;
  border-color: var(--accent-hover);
  box-shadow: 0 0 0 3px var(--background2);
}
/* 
.switchButton {
  padding: 10px;
  background-color: var(--background2);
  border-radius: 4px;
  border: none;
  color: var(--text);
  cursor: pointer;
  margin-top: 15px;
}

.switchButton:hover {
  background-color: var(--accent);
} */