.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contentContainer {
  background-image: url('../resources/hiking-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}