.submitButton {
  padding: 15px;
  background-color: var(--accent);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: var(--accent-hover);
}