.title {
  text-align: center;
  margin: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.text {
  margin: 0;
}

.error {
  margin: 0;
}

.input {
  padding: 10px;
  margin: 3px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.input:focus {
  outline: none;
  border-color: #6eaa85;
  box-shadow: 0 0 0 3px rgba(3, 103, 1, 0.449);
}

.submitButton {
  padding: 15px;
  background-color: #00471b;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #003716;
}

.cancelButton {
  margin-left: 10px;
  border: none;
  padding: 15px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
}

.cancelButton:hover {
  background-color: lightgrey;
}
